*{
	background-color: #0c181c;
    border: 1px solid #1d3d33;
	color: white;
	font-family: Century Gothic, sans-serif;
    font-size: 12px;
}

QTableWidget::horizontalHeader {
    background-color: #0c181c;
}